<!DOCTYPE html>
<html ng-app="apiApp">
<head>
	<title>Pokedex</title>
	<link rel="icon" type="image/png" href="http://vignette1.wikia.nocookie.net/pokemon-heroes/images/1/1f/Pokedex_FRLG.png/revision/latest?cb=20140420234845" />

<link rel="stylesheet" type="text/css" href="styles.css" >
</head>
	<body ng-controller='controller'>
			<header>
				<h1>Pokedex</h1>
				<nav>
					<button class="button"  ng-click="showMe=true">
						<img class="searchImg" src="https://cdn1.iconfinder.com/data/icons/hawcons/32/698627-icon-111-search-128.png" alt="" />
					</button>
					<input ng-show="showMe" class="searchBox" type="text" name="name" value="" ng-model='myFilter' placeholder="search">
					<button class="shinyToggle"  ng-click="showImg = !showImg; toggle = !toggle" type="button">{{toggleText}}</button>
				</nav>
			<!-- <hr> -->
		</header>
		<div class="main-container">

					<div class="pokemon" ng-repeat="pokemon in pokemonNames | filter: myFilter">
						<img ng-class="{'reg': showImg}" ng-src="{{pokemon.regUrl}}"/>
						<img ng-class="{'shiny': !showImg}"  ng-src="{{pokemon.shinyUrl}}"/><br><br>
					 {{pokemon.id + "."}} {{pokemon.name}}

			 		</div>

		</div>



		<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.4.3/angular.min.js"></script>
		<script src="app.js"></script>
		<script src="controller.js"></script>
		<script src="service.js"></script>
		<script src="statsService.js"></script>
	</body>
</html>
