html {
  box-sizing: border-box;
  background-image: url("https://assets.about.me/background/whosthatpokemon_1349921665_7.jpg");
}


header {
  position: fixed;
  text-align: center;
  top: 0;
  width: 100%;
  height: 70px;
  background-color: red;
  background-image: url('http://vignette1.wikia.nocookie.net/pokemon/images/1/1f/Pokedex_FRLG.png/revision/latest?cb=20100717083156');
  background-size: contain;
  background-repeat: no-repeat;
  border: black;
  border-style: solid;
  box-sizing: border-box;
}

h1 {
  margin: 0;
}

.button {
border: 0;
background: transparent;
left: 60px;
position: absolute;
}

.button:hover {
  box-shadow: none;
}
.button:active{
  box-shadow: none;
}
.button:visited {
  color: inherit;
}

.searchImg {
  height: 18px;
  width: 29px;
}

body {
  margin: 0;
}

.main-container {
  margin-top: 80px;
  display: flex;
  flex-wrap: wrap;
  align-content: space-around;
}

.pokemon {
 margin: 0 auto;
 padding: 5px;
 background-image: url('http://img03.deviantart.net/49cf/i/2011/068/a/c/pokeball_desktop_icon_by_beccerberry-d3b98cf.png');
 background-size: contain;
 background-repeat: no-repeat;
 width: 96px;
 text-align: center;
}

.shinyToggle {
  position: absolute;
  right: 10px;
  width: 70px;
  text-align: center;
}

.searchBox {
  position: absolute;
  left: 60px;
  /*display: none ;*/
}



.shiny {
  display: none;
}
.reg {
  display: none;
}
